{
	# Not necessary, I just don't like the admin API
	admin off

	# Prevent Caddy from binding to ports below 1000. Ports below 1000 require
	# setcap permissions, which, even if set up correctly, can unset themselves
	http_port 8080
	https_port 8443

	# Required to run caddy without root/wheel
	skip_install_trust

	# Required for Quest compatibility. If OCSP stapling is left on, serving
	# files to Quest may work for up to one week, but will then fail due to
	# expiration issues. The OCSP bug can be confirmed by leaving OCSP stapling
	# on, waiting 8 days, and then running
	# `curl -v --cert-status https://HOSTNAME/`, which will end with the error
	# `curl: (91) OCSP response has expired`.
	ocsp_stapling off
}

https://{$HOSTNAME},
https://localhost {
	tls /www/test-cert.pem /www/test-key.pem

	file_server browse {
		root /www/root
	}

	#reverse_proxy /api/* localhost:{env.AUTH_PORT}

	#forward_auth /files/restricted/ localhost:{env.AUTH_PORT} {
	#	uri /verify
	#}

	#forward_auth /files/restricted/*/ localhost:{env.AUTH_PORT} {
	#	uri /verify
	#}

	log {
		output file /www/logs/access-{$TIR_NA_NOG_ENV:test}.log
		format json
	}
}
